body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00709f;
}

#banner {
    width: 70%;
    margin: 20px auto;
}

h1 {
    text-align:center;
}

p {
    margin: 40px;
    
}
